.city {
  margin-top: 100px;
  text-align: center;
}

.searchContainer {
  text-align: center;
}

.searchBar{
  padding: 10px;
}

.searchBtn{
  padding: 10px;
  background: black;
  color: white;
}

.displayContainer{
  padding-top: 10px;
  text-align: center;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}

.container {
  background-color: white;
  margin: auto 30%;
  border-radius: 10px;
}

.imageStyle{
  background-repeat: no-repeat;
  background-size: cover;
}